<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>RAMON CURTO | VO2MAX ULTIMATE PLATFORM</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css"/>
    <link href="assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css"/>
    <link href="assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css"/>

    <link href="assets/admin/pages/css/login.css" rel="stylesheet" type="text/css"/>

    <link href="assets/global/css/components.css" id="style_components" rel="stylesheet" type="text/css"/>
    <link href="assets/global/css/plugins.css" rel="stylesheet" type="text/css"/>
    <link href="assets/admin/layout/css/layout.css" rel="stylesheet" type="text/css"/>
    <link href="assets/admin/layout/css/themes/darkblue.css" rel="stylesheet" type="text/css" id="style_color"/>
    <link href="assets/admin/layout/css/custom.css" rel="stylesheet" type="text/css"/>
    <!-- END THEME STYLES -->
    <link rel="shortcut icon" href="favicon.ico"/>
    <script src="//parse.com/downloads/javascript/parse-1.6.12.js"></script>
	<script src="assets/global/plugins/jquery.min.js" type="text/javascript"></script><!-- kazuyou@-->
    <script>
        Parse.initialize("QuMN2yLFTpnjoGgy9Q1wcZag4oclkknzozOmTU8s", "B6NVMdwxXQnq2J14Q1lz1JNBfDiuX7znITdgKwgz"); //clone
    </script>
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="login">
<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
<div class="menu-toggler sidebar-toggler">
</div>
<!-- END SIDEBAR TOGGLER BUTTON -->
<!-- BEGIN LOGO -->
<div class="logo">
    <a href="index.html">
        <img src="assets/admin/layout/img/logo-big.png" class="img-responsive center-block" alt=""/>
    </a>
</div>
<!-- END LOGO -->
<!-- BEGIN LOGIN -->
<div class="content" ng-app="loginApp" ng-controller="signInController">
    <form class="login-form" name="loginForm" method="post">
        <h3 class="form-title">Sign In</h3>

        <div class="alert alert-danger" role="alert" ng-show="env.error">{{ env.error }}</div>
        <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9" >Username</label>
            <input class="form-control form-control-solid placeholder-no-fix" ng-model="username" required type="text" autocomplete="off" placeholder="Username" name="username"/>
        </div>
        <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9" >Password</label>
            <input class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off" placeholder="Password" name="password"  ng-model="password" required/>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-success uppercase"  ng-disabled="loginForm.$invalid==true || env.sending==true" ng-click="actions.login(username,password)">Login</button>
        </div>


    </form>



</div>
<div class="copyright">
    2016 © RAMON CURTO
</div>

</body>
<script src="assets/global/plugins/angularjs/angular.min.js"></script>

<script src="components/angular-gettext/dist/angular-gettext.min.js"></script>

<script src="apps/core/module.js"></script>

<script src="apps/core/user/user-factory.js"></script>
<script src="apps/core/user/user-service.js"></script>
<script src="apps/loginApp/loginApp.js"></script>
<script src="apps/loginApp/sign-in/sign-in.js"></script>
<script src="apps/core/curses/cursesService.js"></script>
<script src="apps/core/curses/cursesFactory.js"></script>
<script src="apps/core/atletaCursa/atletaCursaService.js"></script>
<script src="apps/core/atletaCursa/atletaCursaFactory.js"></script>
<script src="apps/core/feedback/feedbackFactory.js"></script>
<script src="apps/core/feedback/feedbackService.js"></script>
<script src="apps/core/event/eventFactory.js"></script>
<script src="apps/core/event/eventService.js"></script>
<script src="apps/core/atletaMesocicle/atletaMesocicleFactory.js"></script>
<script src="apps/core/atletaMesocicle/atletaMesocicleService.js"></script>
<script src="apps/core/feedback/feedbackFactory.js"></script>
<script src="apps/core/feedback/feedbackService.js"></script>
<script src="apps/core/request/requestFactory.js"></script>
<script src="apps/core/request/requestService.js"></script>
</html>