<ol class="breadcrumb">
    <li><a href="#" ui-sref="index" translate>Home</a></li>
    <li class="active" translate>Trainings</li>
</ol>

<div class="row">
    <div class="portlet light tasks-widget">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-share font-green-haze hide"></i>
                <span class="caption-subject font-red-thunderbird bold uppercase" translate>Weekly Trainings</span>
            </div>
        </div>

        <div class="row no-print">

            <form name="filterForm">
            <div class="col-md-3">
                <div class="dropdown">
                    <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-target="#" href="#">
                        <div class="input-group">
                            <input type="text" placeholder="{{'Start Date'|translate}}" class="form-control"  value="{{env.filters.start_date|date:'yyyy-MM-dd'}}" required><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        </div>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <datetimepicker data-ng-model="env.filters.start_date" data-datetimepicker-config="{minView:'day', dropdownSelector: '.dropdown-toggle'}"/>
                    </ul>
                </div>

            </div>
            <div class="col-md-3">
                <div class="dropdown">
                    <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-target="#" href="#">
                        <div class="input-group">
                            <input type="text" placeholder="{{'End Date'|translate}}" class="form-control"  value="{{env.filters.end_date|date:'yyyy-MM-dd'}}" required><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        </div>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <datetimepicker data-ng-model="env.filters.end_date" data-datetimepicker-config="{minView:'day', dropdownSelector: '.dropdown-toggle'}"/>
                    </ul>
                </div>
            </div>
            </form>
            <div class="col-md-3">
                <div class="btn-group" role="group" aria-label="...">
                    <button ng-disabled="filterForm.$invalid" ng-click="show()" type="button" class="btn btn-default" translate>Show</button>
                    <button type="reset" ng-click="env.filters={}" class="btn btn-default" translate>Clear</button>
                </div>
            </div>
        </div>
        <br>
        <div class="portlet-body">
        <div class="table-responsive">
            <div class="task-content">
                <table class="table table-bordered">
                     <tr bgcolor="#f36a5a">
                        <th translate rowspan="2" color="white">Week day</th>
                        <th translate rowspan="2">Task</th>
                        <th translate rowspan="2">Rest Reps</th>
                        <th translate rowspan="2">Series Rest</th>
                        <th translate rowspan="2">BPM REP</th>
                        <th translate rowspan="2">BPM Series</th>
                        <th translate rowspan="2">BPM Start</th>
                        <th translate rowspan="2">Time Power Reps</th>
                        <th translate rowspan="2">Time min/km</th>
                        <th translate rowspan="2">KM REPS</th>
                        <th translate rowspan="2">Time Running Reps</th>
                        <th translate colspan="2">1st WEEK</th>
                        <th translate colspan="2">2st WEEK</th>
                        <th translate colspan="2">3rd WEEK</th>
                        <th translate colspan="2">4th WEEK</th>
                    </tr>
                     <tr bgcolor="#f36a5a">
                       
                        <th>S</th>
                        <th>R</th>
                        <th>S</th>
                        <th>R</th>
                        <th>S</th>
                        <th>R</th>
                        <th>S</th>
                        <th>R</th>
                    </tr>


                    <tr ng-repeat-start="row in env.trainig" >
                        <td rowspan="7">{{row.day}}</td>
                        <td>{{ row.week.get('l1').get('descripcio')}}</td>
                        <td>{{ row.week.get('l1').get('recrep') }}</td>
                        <td>{{ row.week.get('l1').get('recser') }}</td>
                        <td>{{ row.week.get('l1').get('ppmrep') }}</td>
                        <td>{{ row.week.get('l1').get('ppmser') }}</td>
                        <td>{{ row.week.get('l1').get('ppmini') }}</td>
                        <td>{{ row.week.get('l1').get('timepower') }}</td>
                        <td>{{ row.week.get('l1').get('tem1000') }}</td>
                        <td>{{ row.week.get('l1').get('kmrep') }}</td>
                        <td>{{ row.week.get('l1').get('temrep') }}</td>
                        <td>{{ row.week.get('l1').get('s1') }}</td>
                        <td>{{ row.week.get('l1').get('r1') }}</td>
                        <td>{{ row.week.get('l1').get('s2') }}</td>
                        <td>{{ row.week.get('l1').get('r2') }}</td>
                        <td>{{ row.week.get('l1').get('s3') }}</td>
                        <td>{{ row.week.get('l1').get('r3') }}</td>
                        <td>{{ row.week.get('l1').get('s4') }}</td>
                        <td>{{ row.week.get('l1').get('r4') }}</td>
                    </tr>

                    <tr  ng-repeat="line in [2,3,4,5,6]">
                        <td>{{ row.week.get('l'+line).get('descripcio') }}</td>
                        <td>{{ row.week.get('l'+line).get('recrep') }}</td>
                        <td>{{ row.week.get('l'+line).get('recser') }}</td>
                        <td>{{ row.week.get('l'+line).get('ppmrep') }}</td>
                        <td>{{ row.week.get('l'+line).get('ppmser') }}</td>
                        <td>{{ row.week.get('l'+line).get('ppmini') }}</td>
                        <td>{{ row.week.get('l'+line).get('timepower') }}</td>
                        <td>{{ row.week.get('l'+line).get('tem1000') }}</td>
                        <td>{{ row.week.get('l'+line).get('kmrep') }}</td>
                        <td>{{ row.week.get('l'+line).get('temrep') }}</td>
                        <td>{{ row.week.get('l1').get('s1') }}</td>
                        <td>{{ row.week.get('l1').get('r1') }}</td>
                        <td>{{ row.week.get('l1').get('s2') }}</td>
                        <td>{{ row.week.get('l1').get('r2') }}</td>
                        <td>{{ row.week.get('l1').get('s3') }}</td>
                        <td>{{ row.week.get('l1').get('r3') }}</td>
                        <td>{{ row.week.get('l1').get('s4') }}</td>
                        <td>{{ row.week.get('l1').get('r4') }}</td>
                    </tr>

                    <tr ng-repeat-end>

                    </tr>
                </table>
            </div>

        </div>

    </div>
</div>
