<div class="progress" ng-show="env.loading==true">
    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0"
         aria-valuemax="100" style="width: 100%">
        <span class="sr-only">45% Complete</span>
    </div>
</div>

<div ng-show="env.loading==false">
    <div class="alert alert-success" role="alert" ng-show="env.displayMessage && user.isAthlete()"><h3
            style="line-height: 1.5em">{{env.displayMessage}}</h3></div>

    <div class="alert alert-info" role="alert" ng-show="env.feedbackAlter" translate>Need to fill weekly feedback</div>
    <div class="alert alert-info" role="alert" ng-show="env.coachCommentWeeklyAlert" translate>Coach comment your weekly feedback</div>
    <div class="alert alert-danger" role="alert" ng-show="env.missingRaceFeedback" translate>For the race "{{env.missingRaceFeedback}}" need to fill feedback
    </div>
    <div class="alert alert-info" role="alert" ng-show="env.coachCommentRaceAlert" translate>Coach comment your race feedback
    </div>

    <div class="clearfix"></div>


    <div class="row" ng-show="user.isAthlete()">
        <div class="col-md-6 col-sm-6">
            <div class="portlet light ">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-bar-chart font-green-sharp hide"></i>
                        <span class="caption-subject font-red-flamingo bold uppercase" translate>MY GOALS</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <table class="table table-striped">
                        <tr ng-show="env.nextPrincipalRace!=null">
                            <td><strong translate>NEXT PRINCIPAL RACE</strong></td>
                            <td>{{env.nextPrincipalRace.get('nom')}}</td>
                            <td>{{env.nextPrincipalRace.shortData }}</td>
                        </tr>
                        <tr ng-show="env.nextSecondaryRace!=null">
                            <td><strong translate>NEXT SECONDARY RACE</strong></td>
                            <td>{{env.nextSecondaryRace.get('nom')}}</td>
                            <td>{{env.nextSecondaryRace.shortData }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6">
            <div class="portlet light ">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-share font-red-sunglo hide"></i>
                        <span class="caption-subject font-red-flamingo bold uppercase"
                              translate>Last Athletes Result</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <table class="table table-striped">
                        <tr>
                            <th translate>Race</th>
                            <th translate>Athlete</th>
                            <th translate>Ranking</th>
                            <th translate>Time</th>
                        </tr>
                        <tr align="center" ng-repeat="result in env.lastRaceResult">
                            <td>{{result.get('nomcursa').get('nom')}}</td>
                            <td>{{result.get('user').get('firstName')}} {{result.get('user').get('lastName')}}</td>
                            <td>{{result.get('posabs') }}</td>
                            <td>{{result.get('temps_segons') }}</td>

                        </tr>
                    </table>
                </div>
            </div>
            <!-- END PORTLET-->
        </div>
    </div>


    <div class="clearfix"></div>
    <div class="row" ng-show="user.isAthlete()">
        <div class="col-md-6 col-sm-6">
            <div class="portlet light ">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-share font-blue-steel hide"></i>
                        <span class="caption-subject font-purple-seance bold uppercase" translate>Weekly Feedback</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <p ng-show="env.weeklyFeedback==null" translate>Not yet</p>

                    <p ng-show="env.weeklyFeedback">{{env.weeklyFeedback.get('coachComment')}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6">
            <div class="portlet light tasks-widget">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-share font-green-haze hide"></i>
                        <span class="caption-subject font-purple-seance bold uppercase"
                              translate>Last Race Feedback</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="task-content">
                        <table class="table table-striped" ng-show="env.lastRaceFeedback!=null">
                            <tr>
                                <td>{{env.lastRaceFeedback.get('nomcursa').get('nom')}}</td>
                            </tr>
                            <tr>
                                <td>{{env.lastRaceFeedback.get('coachComments')}}</td>
                            </tr>
                        </table>
                        <p ng-show="env.lastRaceFeedback==null" translate>Not yet</p>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <div class="clearfix"></div>
    <div class="row" ng-show="user.isAthlete()">
        <div class="col-md-6 col-sm-6">
            <div class="portlet light ">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-share font-blue-steel hide"></i>
                        <span class="caption-subject font-blue-steel bold uppercase" translate>UPCOMING RACES</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <tr align="center">

                                <th translate>Date</th>
                                <th translate>Race</th>
                                <th translate>Km</th>
                                <th translate>Slope+</th>
                                <th translate>Athletes</th>
                                <th translate>Objective</th>
                            </tr>
                            <tr align="center" ng-repeat="race in env.lastNewRace">
                                <td>{{race.getFreeFormatData('dddd')}} {{race.getFreeFormatData('Do')}}</td>
                                <td>{{race.get('nom')}}</td>
                                <td>{{race.get('distancia') }}</td>
                                <td>{{race.get('desnivell') }}</td>
                                <td>{{race.getJoined() }}</td>

                                <td ng-show="user.isAthlete()">
                                    <div class="col-md-8" ng-show="user.joinCourses.indexOf(race.getId())==-1">
                                        <select class="form-control" ng-model="race.objective">
                                            <option value="" translate>Select Objective</option>
                                            <option value="principal" translate>PRINCIPAL</option>
                                            <option value="secondary" translate>SECONDARY</option>
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <button ng-disabled="race.objective==undefined"
                                                ng-show="user.joinCourses.indexOf(race.getId())==-1"
                                                ng-click="loadLastRace(race)" class="btn btn-primary" translate>Join
                                        </button>
                                        <button ng-disabled="user.joinCourses.indexOf(race.getId())!=-1"
                                                ng-show="user.joinCourses.indexOf(race.getId())!=-1"
                                                class="btn btn-success" translate>joined
                                        </button>
                                    </div>

                                </td>

                            </tr>
                        </table>
                    </div>
                    <div class="scroller-footer">
                        <div class="btn-arrow-link pull-right">
                            <a href="" ui-sref="race" translate>See All Race</a>
                            <i class="icon-arrow-right"></i>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-6 col-sm-6">
            <div class="portlet light ">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-bar-chart font-green-sharp hide"></i>
                        <span class="caption-subject font-yellow-lemon bold uppercase" translate>News</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <table class="table table-striped" ng-show="env.events.length>0">

                        <tr ng-repeat="event in env.events">
                            <td>{{event.get('text')}}</td>
                        </tr>
                    </table>
                    <p ng-show="env.events.length==0" translate>Not yet</p>
                </div>
            </div>
        </div>


    </div>
</div>