<div class="clearfix"></div>
<div class="progress" ng-show="env.loading==true">
    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
        <span class="sr-only">45% Complete</span>
    </div>
</div>

<div class="row" ng-show="user.isAthlete() && env.loading==false" >

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-md-12 dashboard">

                <div class="col-md-2"></div>
                <div class="col-md-8" style="top: 100px;background-color: #e3213b;opacity: 0.9">
                    <div ng-show="env.race!=null">
                        <h5 style="padding:20px;width:auto;text-align: center;overflow: hidden; color: white" ;>
                            <strong style="text-transform: uppercase;color: white">{{env.race.nomcursa.nom}}</strong>
                        </h5>
                        <img style="margin: 0 auto;" src="/parse/public/assets/admin/layout/img/whiteline.png"
                             class="img-responsive" alt="">

                        <div class="row" style="margin: 0 auto; width: auto;color:white;padding:20px;">
                            <div class="col-md-4">
                                <h6>{{env.race.nomcursa.distancia +" "}}km</h6>
                            </div>
                            <div class="col-md-4">
                                <h6><strong style="text-transform: uppercase">{{env.race.shortData}}</strong></h6>
                            </div>
                            <div class="col-md-4">
                                <h6>{{env.race.nomcursa.desnivell+" "}}m+</h6>
                            </div>
                        </div>
                        <img style="margin: 0 auto;" src="/parse/public/assets/admin/layout/img/whiteline.png"
                             class="img-responsive" alt="">
                        <br>

                        <h1 style="margin: 0 auto;padding:20px;font-size: 60px;width:auto;text-align: center;overflow: hidden">
                            <div class="row" style="font-size: 40px;color:white">
                                <h6>{{env.race.beforeCoachComment}}</h6>
                            </div>
                        </h1>
                    </div>
                    <div ng-show="env.race==undefined">
                        <h5 style="padding:20px;width:auto;text-align: center;overflow: hidden; color: white" ;>
                            <strong style="text-transform: uppercase;color: white" translate>No races soon</strong>
                        </h5>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="col-md-12 dashboard-event" >
                <h6><strong translate>Next Event:</strong>
                    <em>{{env.nextRace.shortData}}</em>- {{env.nextRace.nom}}</h6>
            </div>

        </div>
    </div>
</div>
