<div class="progress" ng-show="env.loading==true">
    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
        <span class="sr-only">45% Complete</span>
    </div>
</div>

<div ng-show="env.loading==false">
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-6 col-sm-6">
            <div class="portlet light ">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-bar-chart font-green-sharp hide"></i>
                        <span class="caption-subject font-red-flamingo bold uppercase" translate>Top Ten Races</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <table class="table table-striped">
                        <tr align="center">
                            <th translate>#</th>
                            <th translate>Race</th>
                            <th translate>Vote</th>
                            <th translate>Done</th>
                        </tr>
                        <tr align="center" ng-repeat="race in env.topRaces">
                            <td>{{$index+1}}</td>
                            <td>{{race.get('nom')}}</td>
                            <td>{{race.get('points')}}</td>
                            <td>
                            <span class="glyphicon glyphicon-ok" aria-hidden="true"
                                  ng-show="env.topRacesWithYouVote.indexOf(race.getId())!=-1"></span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6">
            <div class="portlet light ">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-bar-chart font-purple-medium hide"></i>
                        <span class="caption-subject font-blue bold uppercase" translate>Top Athlete Records</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <table class="table table-striped">
                        <tr>
                            <th translate>Variable</th>
                            <th translate>Value</th>
                            <th translate>Score</th>
                        </tr>

                        <tr align="center" ng-repeat="record in env.topRecords" ng-show="record.show==true">
                            <td>{{record.title}}</td>
                            <td>{{env.topRecordsResult[record.field].time}}</td>
                            <td>{{env.topRecordsResult[record.field].place }}</td>
                            </td>
                        </tr>

                    </table>
                    <div ng-show="env.countShowTopRecords==0" translate>Is necessary fill in a user profile</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-6">
            <div class="portlet light ">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-bar-chart font-green-jungle hide"></i>
                    <span class="caption-subject font-green-jungle bold uppercase"
                          translate>Top Road Running Shoes</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <table class="table table-striped">
                        <tr>
                            <th>#</th>
                            <th translate>Brand</th>
                            <th translate>Count</th>

                            <th translate>You</th>
                        </tr>
                        <tr align="center" ng-repeat="brand in env.topRunningRoadShoes|orderBy:'-number'">
                            <td>{{$index+1}}</td>
                            <td>{{brand.brand}}</td>
                            <td>{{brand.number}}</td>

                            <td>
                            <span class="glyphicon glyphicon-ok" aria-hidden="true"
                                  ng-show="user.runningShoesRoadBrand!=undefined && user.runningShoesRoadBrand.indexOf(brand.brand)!=-1"></span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="portlet light ">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-bar-chart font-green-sharp hide"></i>
                        <span class="caption-subject font-yellow-gold bold uppercase"
                              translate>Top Trail Running Shoes</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <table class="table table-striped">
                            <tr align="center">
                                <th>#</th>
                                <th translate>Brand</th>
                                <th translate>Count</th>
                                <th translate>You</th>
                            </tr>
                            <tr align="center" ng-repeat="brand in env.topRunningTrailShoes|orderBy:'-number'">
                                <td>{{$index+1}}</td>
                                <td>{{brand.brand}}</td>
                                <td>{{brand.number}}</td>
                                <td>
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"
                                      ng-show="user.runningShoesTrailBrand!=undefined && user.runningShoesTrailBrand.indexOf(brand.brand)!=-1"></span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="portlet light ">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-bar-chart font-green-sharp hide"></i>
                        <span class="caption-subject font-yellow-crusta bold uppercase"
                              translate>Top Ergogenic Brand</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <table class="table table-striped">
                            <tr align="center">
                                <th>#</th>
                                <th translate>Brand</th>
                                <th translate>Count</th>
                                <th translate>You</th>
                            </tr>
                            <tr align="center" ng-repeat="item in env.topErgogenicAids|orderBy:'-number'">
                                <td>{{$index+1}}</td>
                                <td>{{item.brand}}</td>
                                <td>{{item.number}}</td>
                                <td>
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"
                                      ng-show="user.ergogenicAids!=undefined && user.ergogenicAids.indexOf(item.brand)!=-1"></span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="portlet light ">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="icon-bar-chart font-green-sharp hide"></i>
                                <span class="caption-subject font-green-meadow bold uppercase" translate>Top Road Running Watch</span>
                            </div>
                        </div>
                        <div class="portlet-body">

                            <table class="table table-striped">
                                <tr align="center">
                                    <th>#</th>
                                    <th translate>Brand</th>
                                    <th translate>Count</th>
                                    <th translate>You</th>
                                </tr>
                                <tr align="center" ng-repeat="item in env.topRunningWatchModel|orderBy:'-number'">
                                    <td>{{$index+1}}</td>
                                    <td>{{item.brand}}</td>
                                    <td>{{item.number}}</td>
                                    <td>
                                    <span class="glyphicon glyphicon-ok" aria-hidden="true"
                                          ng-show="user.get('runningWatchModel')!=undefined && user.get('runningWatchModel').indexOf(item.brand)!=-1"></span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="col-md-6 col-sm-6">
                <div class="portlet light ">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-share font-red-sunglo hide"></i>
                            <span class="caption-subject font-red-flamingo bold uppercase" translate>Last Athletes Result</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <table class="table table-striped">
                            <tr>
                                <th translate>Race</th>
                                <th translate>Athlete</th>
                                <th translate>Ranking</th>
                                <th translate>Time</th>
                            </tr>
                            <tr ng-repeat="result in env.lastRaceResult">
                                <td>{{result.get('nomcursa').get('nom')}}</td>
                                <td>{{result.get('user').get('firstName')}} {{result.get('user').get('lastName')}}</td>
                                <td>{{result.get('posabs') }}</td>
                                <td>{{result.get('temps_segons') }}</td>

                            </tr>
                        </table>
                    </div>
                </div>-->
            <!-- END PORTLET-->
        </div>
    </div>

</div>