<ol class="breadcrumb">
    <li><a href="#" ui-sref="index" translate>Home</a></li>
    <li class="active" translate>Users</li>
</ol>

<div class="page-header">
    <h1 translate>Users</h1>
</div>
<div class="progress" ng-show="env.loading==true">
    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
        <span class="sr-only">45% Complete</span>
    </div>
</div>

<br>

<table class="table" ng-show="env.loading==false && env.posts.length>0" >

    <tr>
        <th translate>ObjectId</th>
        <th translate>User Name</th>
        <th translate>Email</th>
        <th translate>Role</th>
        <th translate>Language</th>
    </tr>
    <tr ng-repeat="post in env.posts ">
        <td>{{ post.getId() }}</td>
        <td>{{ post.username }}</td>
        <td>{{ post.email }}</td>
        <td>{{ post.get('role').get('name') }}</td>
        <td>{{ post.language }}</td>
    </tr>
</table>


<div class="jumbotron" ng-show="env.loading==false && env.posts.length==0">
    <h1 translate>Ops!</h1>
    <p translate>No users</p>
</div>