<ol class="breadcrumb">
    <li><a href="#" ui-sref="dashboard" translate>Home</a></li>
    <li class="active" translate>FAQ</li>
</ol>
<div class="faq-page faq-content-1">
    <div class="search-bar ">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for..." ng-model="faqsearch"> </div>
    </div>
    <div class="faq-content-container">
        <div class="row">
            <div class="col-md-6">
                <div class="faq-section ">
                    <h2 class="faq-title uppercase font-blue" translate>GENERAL</h2>
                    <div class="panel-group accordion faq-content" id={{env.accordionList.general}}>
                        <div class="panel panel-default" ng-repeat="resultuser in env.faqList.general | filter: faqsearch">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <i class="fa fa-circle"></i>
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#{{env.accordionList.general}}" href="apps/mainApp/faq/faq.html#{{resultuser.collapse}}" aria-expanded="false">{{resultuser.ques}} </a>
                                </h4>
                            </div>
                            <div id={{resultuser.collapse}} class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                <div class="panel-body"><p ng-bind-html="renderHtml(resultuser.answer)"</p></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="faq-section ">
                    <h2 class="faq-title uppercase font-blue" translate>RACES</h2>
                    <div class="panel-group accordion faq-content" id={{env.accordionList.races}}>
                        <div class="panel panel-default" ng-repeat="resultuser in env.faqList.races | filter: faqsearch">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <i class="fa fa-circle"></i>
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#{{env.accordionList.races}}" href="apps/mainApp/faq/faq.html#{{resultuser.collapse}}" aria-expanded="false">{{resultuser.ques}} </a>
                                </h4>
                            </div>
                            <div id={{resultuser.collapse}} class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                <div class="panel-body"><p ng-bind-html="renderHtml(resultuser.answer)"</p></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="faq-section ">
                    <h2 class="faq-title uppercase font-blue" translate>TOPS</h2>
                    <div class="panel-group accordion faq-content" id={{env.accordionList.tops}}>
                        <div class="panel panel-default" ng-repeat="resultuser in env.faqList.tops | filter: faqsearch">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <i class="fa fa-circle"></i>
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#{{env.accordionList.tops}}" href="apps/mainApp/faq/faq.html#{{resultuser.collapse}}" aria-expanded="false">{{resultuser.ques}} </a>
                                </h4>
                            </div>
                            <div id={{resultuser.collapse}} class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                <div class="panel-body"><p ng-bind-html="renderHtml(resultuser.answer)"</p></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="faq-section ">
                    <h2 class="faq-title uppercase font-blue" translate>FEEDBACKS</h2>
                    <div class="panel-group accordion faq-content" id={{env.accordionList.feedbacks}}>
                        <div class="panel panel-default" ng-repeat="resultuser in env.faqList.feedbacks | filter: faqsearch">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <i class="fa fa-circle"></i>
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#{{env.accordionList.feedbacks}}" href="apps/mainApp/faq/faq.html#{{resultuser.collapse}}" aria-expanded="false">{{resultuser.ques}} </a>
                                </h4>
                            </div>
                            <div id={{resultuser.collapse}} class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                <div class="panel-body"><p ng-bind-html="renderHtml(resultuser.answer)"</p></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="faq-section ">
                    <h2 class="faq-title uppercase font-blue" translate>REQUESTS</h2>
                    <div class="panel-group accordion faq-content" id={{env.accordionList.requests}}>
                        <div class="panel panel-default" ng-repeat="resultuser in env.faqList.requests | filter: faqsearch">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <i class="fa fa-circle"></i>
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#{{env.accordionList.requests}}" href="apps/mainApp/faq/faq.html#{{resultuser.collapse}}" aria-expanded="false">{{resultuser.ques}} </a>
                                </h4>
                            </div>
                            <div id={{resultuser.collapse}} class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                <div class="panel-body"><p ng-bind-html="renderHtml(resultuser.answer)"</p></div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="col-md-6">
                <div class="faq-section ">
                    <h2 class="faq-title uppercase font-blue" translate>MY GOALS</h2>
                    <div class="panel-group accordion faq-content" id={{env.accordionList.mygoals}}>
                        <div class="panel panel-default" ng-repeat="resultuser in env.faqList.mygoals | filter: faqsearch">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <i class="fa fa-circle"></i>
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#{{env.accordionList.mygoals}}" href="apps/mainApp/faq/faq.html#{{resultuser.collapse}}" aria-expanded="false">{{resultuser.ques}} </a>
                                </h4>
                            </div>
                            <div id={{resultuser.collapse}} class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                <div class="panel-body"><p ng-bind-html="renderHtml(resultuser.answer)"</p></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="faq-section ">
                    <h2 class="faq-title uppercase font-blue" translate>MY RACES</h2>
                    <div class="panel-group accordion faq-content" id={{env.accordionList.myraces}}>
                        <div class="panel panel-default" ng-repeat="resultuser in env.faqList.myraces | filter: faqsearch">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <i class="fa fa-circle"></i>
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#{{env.accordionList.myraces}}" href="apps/mainApp/faq/faq.html#{{resultuser.collapse}}" aria-expanded="false">{{resultuser.ques}} </a>
                                </h4>
                            </div>
                            <div id={{resultuser.collapse}} class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                <div class="panel-body"><p ng-bind-html="renderHtml(resultuser.answer)"</p></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="faq-section ">
                    <h2 class="faq-title uppercase font-blue" translate>CHAT</h2>
                    <div class="panel-group accordion faq-content" id={{env.accordionList.chat}}>
                        <div class="panel panel-default" ng-repeat="resultuser in env.faqList.chat | filter: faqsearch">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <i class="fa fa-circle"></i>
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#{{env.accordionList.chat}}" href="apps/mainApp/faq/faq.html#{{resultuser.collapse}}" aria-expanded="false">{{resultuser.ques}} </a>
                                </h4>
                            </div>
                            <div id={{resultuser.collapse}} class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                <div class="panel-body"><p ng-bind-html="renderHtml(resultuser.answer)"</p></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="faq-section ">
                    <h2 class="faq-title uppercase font-blue" translate>TRAININGS</h2>
                    <div class="panel-group accordion faq-content" id={{env.accordionList.trainings}}>
                        <div class="panel panel-default" ng-repeat="resultuser in env.faqList.trainings | filter: faqsearch">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <i class="fa fa-circle"></i>
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#{{env.accordionList.trainings}}" href="apps/mainApp/faq/faq.html#{{resultuser.collapse}}" aria-expanded="false">{{resultuser.ques}} </a>
                                </h4>
                            </div>
                            <div id={{resultuser.collapse}} class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                <div class="panel-body"><p ng-bind-html="renderHtml(resultuser.answer)"</p></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="faq-section ">
                    <h2 class="faq-title uppercase font-blue" translate>RACE TIPS</h2>
                    <div class="panel-group accordion faq-content" id={{env.accordionList.racetips}}>
                        <div class="panel panel-default" ng-repeat="resultuser in env.faqList.racetips | filter: faqsearch">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <i class="fa fa-circle"></i>
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#{{env.accordionList.racetips}}" href="apps/mainApp/faq/faq.html#{{resultuser.collapse}}" aria-expanded="false">{{resultuser.ques}} </a>
                                </h4>
                            </div>
                            <div id={{resultuser.collapse}} class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                <div class="panel-body"><p ng-bind-html="renderHtml(resultuser.answer)"</p></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>    
